@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Roboto Mono", sans-serif;
}

/* Toasts */
.toasts-enter-active,
.toasts-leave-active {
    transition: all 0.5s ease;
}
.toasts-enter-from,
.toasts-leave-to {
    opacity: 0;
    transform: translateX(30px);
}

/* Other */
